@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: 'LexendDeca-Regular';
    src: url('../fonts/LexendDeca-Regular.ttf');
}