@import 'typography.css';

/* COLORS */

/* PRIMARY */
$very-dark-blue-main-bg: hsl(233, 47%, 7%);
$dark-desaturated-blue-card-bg: hsl(244, 38%, 16%);
$soft-violet-accent: hsl(277, 64%, 61%);

/* NEUTRAL */
$white: hsl(0, 0%, 100%);
$transparent-white-main-paragraph:hsla(0, 0%, 100%, 0.75);
$transparent-white-stats-headings:hsla(0, 0%, 100%, 0.6);

/* COMMON */
html, body {
    min-width: 100vw;
}

body {
    box-sizing: content-box;
    background-color: $very-dark-blue-main-bg;
    min-height: 100vh;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */
main {
    width: 330px;
    height: 790px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    .image-box {
        background: url('../images/image-header-mobile.jpg');
        background-size: cover;
        width: 330px;
        height: 300px;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;

        .overlay {
            background-color: rgba(darken($soft-violet-accent, 35%), 0.6);
            width: 100%;
            height: 100%;
        }
    }

    .details {
        background-color: $dark-desaturated-blue-card-bg;
        width: 80%;
        height: 540px;
        padding: 33px;
        text-align: center;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        
        .card-header {
            font-family: 'Inter-Bold';
            font-size: 1.75em;
            color: $white;
            margin: 10px 0px;

            .highlight {
                color: $soft-violet-accent;
            }
        }

        .card-description {
            font-family: 'Inter-Regular';
            color: $transparent-white-main-paragraph;
            line-height: 26px;  
        }

        .status {
            display: flex;
            flex-direction: column;

            .status-article {
                letter-spacing: 2px;

                .status-headings {
                    font-family: 'Inter-Regular';
                    color:$white;
                    margin: 16px 0px 8px;
                }

                p {
                    text-transform: uppercase;
                    font-family: 'LexendDeca-Regular';
                    font-size: 0.75em;
                    color:$transparent-white-stats-headings;
                }
            }
        }
    }
}

/* PORTRAIT TABLET */
@media only screen and (min-width:600px){
}

/* LANDSCAPE TABLET */
@media only screen and (min-width:768px){  
}

/* LAPTOP/DESKTOP */
@media only screen and (min-width:992px){
    /* MAIN */
    main {
        width: 1115px;
        height: 450px;
        flex-direction: row-reverse;

        .image-box {
            background: url('../images/image-header-desktop.jpg');
            background-size: cover;
            width: 545px;
            height: 450px;
            border-top-left-radius: 0px;
            border-bottom-right-radius: inherit;
        }

        .details {
            width: 410px;
            height: 310px;
            padding: 70px 100px 70px 65px;
            text-align: left;
            border-bottom-right-radius: 0px;
            border-top-left-radius: inherit;
            
            .card-header {
                font-size: 2.45em;
                margin: 8px 0px;
            }

            .card-description {
                width: 90%;
                margin: 16px 0px;
            }

            .status {
                margin-top: 60px;
                width: 88%;
                flex-direction: row;
                justify-content: space-between;

                .status-article {
                    letter-spacing: 2px;
    
                    .status-headings {
                        margin: 16px 0px 8px;
                    }
                }
            }
        }
    }
}

/* LARGE LAPTOP/DESKTOP */
@media only screen and (min-width:1200px){
    
}